html{
    box-sizing: border-box;
    margin: 20px;
    background-color: lightsteelblue;

}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

.title-header{
    height: 25px;
    left: 77px;
    top: 40px;
    margin-bottom: 20px;
    
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    
    color: #333333;
 }

.scareCrowImage > img {
 height: 500px;
 transform: rotate(20deg);
 animation-name: slide;
 animation-iteration-count: infinite;
 animation-duration: 4s;
}

@keyframes slide{
    0% {
        transform: rotate(20deg);
      }
    
     25% {
        transform: rotate(0deg);
      }

      50% {
        transform: rotate(-20deg);
      }

      100% {
        transform: rotate(0deg);
      }
   
}

.container{
    margin-top: 1.5rem;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.side-box{
display: flex;
flex-direction: column;
align-items: start;
    justify-content: center;
}

.side-box > h1{
    font-family: Space Mono;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 95px;
letter-spacing: -0.035em;
}

.side-box > a {
font-family: Space Mono;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 70px;
/* identical to box height */

letter-spacing: -0.035em;
text-transform: uppercase;
text-align: center;
padding: 0.5rem 0.6rem;
}

.detailedExplanationText{
    width: 381px;
    height: 108px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    
    /* Gray 2 */
    
    color: #4F4F4F;
}

.btn{
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.6rem;
    width: 216px;
    height: 68px;
    background: #333333;
    color: #fff;


}

footer{
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    
}

@media(max-width: 700px) {
    /* .container{
        margin-top: 1.5rem;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
    }

    .scareCrowImage > img {
        height: 362px;
    } */
}

@media(max-width: 500px) {
    .container{
        margin-top: 1.5rem;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
    }

    .scareCrowImage > img {
        height: 300px;
    }

}